*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
header{
    background-color: cyan;
    width: 100%;
    height: 100px;
}
#header-all{
    width: 100%;
    max-height: 100px;
    display: flex;
    background-color: rgb(33, 28, 33);
}
#header-logo-left{
    width: 20%;
    max-height: 100px;
}
#img-logo-left{
    width: 100%;
    max-height: 100px;
}
.header-text-right{
    width: 80%;
    max-height: 100px;
    display: inline-block;
}
#header-text-top{
    display: block;
    width: 100%;
    max-height: 50px;
    padding-left: 30px;
    color: white;
    cursor: pointer;
}

#right{
    display: inline-flex;
    margin-left: 500px;
    letter-spacing: 5px;
}
#text-bottom{
    width: 1028,49;
    max-height: 71.2px;
    display: flex;
}
.text-bottom-1{
    display: inline-flex;
    width: 750px;
    max-height: 71.2px;
    justify-content: center;
    padding-top: 20px;
    color: orange;
    cursor: pointer;
}
.dk{
    display: flex;
    width: 328.47px;
    max-height: 71.2px ;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
#dk1{
    cursor: pointer;
    width: 100px;
}
#dk2{
    cursor: pointer;
    width: 100px;
}
.text-bottom-1:hover {
    color: brown;
}

#dk1:hover{
    color: darkgrey;
}
#dk2:hover{
    color: darkgrey;
}
.login{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin : 0 auto;
    border-radius: 5px;
    display: none;
    position: absolute;
}
#loginRGT{
    cursor: pointer;
}
.btn{
    width: 200px;
    margin-left: 45%;
}

.form-floating{
    width: 300px;
    margin : 0 auto;
}
#close{
    cursor: pointer;
    float: right;
    padding: 10px;
}
#register{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin : 0 auto;
    border-radius: 5px;
    display: none;
    position: absolute;
}
#register2{
    cursor: pointer;
    color: blue;
    opacity: 95%;
    font-weight: 400;
}
#close1{
    cursor: pointer;
    float: right;
    padding: 10px;
}

.show{
    display: block;
}
/* Service */
#headerServices {
    position: relative;
    background-image: url(carousel-1.jpg);
    height: 300px; /* Điều chỉnh chiều cao theo ý muốn */
    width: 80%; /* Điều chỉnh chiều rộng theo ý muốn */
    margin: 0 auto;
}

#headerServices::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Điều chỉnh màu sắc và độ mờ */
    z-index: 1;
}

#headerServices h1 {
    position: relative;
    z-index: 2;
    font-size: 100px; /* Điều chỉnh kích thước chữ tiêu đề */
    color: white; /* Điều chỉnh màu chữ tiêu đề */
    text-align: center; 
}
.bodyServices{
    text-align: center;
}
.box-services{
    width: 100%;
    height: 640px;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
  
}
.box{
    width: 400px;
    max-height: 320px;
    box-shadow: 10px 10px 10px 10px rgb(186, 183, 183);
}
.textService{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
.insideSB{
    width: 90%;height: 90%; margin: 0 auto; margin-top: 15px;
}
.iconSBArea{
    width: 100%;height: 100px; text-align: center; font-size: 40px;
}
.iconSB{
    margin-top: 10px;border: double 8px rgba(195, 186, 186, 0.779); padding: 10px; color: #FEA116;
}
/* Ảnh slider */
 #headerServices1 {
    position: relative;
    background-image: url(carousel-2.jpg);
    height: 300px; 
    width: 90%; 
    margin: 0 auto;
}
.imgSV{
    width: 100%;
    height: 500px;
}
.box{
    cursor: pointer;
    transition: 500ms;
}

.box:hover{
    background-color: #FEA116;
    color: white;
    .iconSB{
        color: white;
    }
}
